<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - jpatrickfulton.com</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/css/toolkit-startup.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/toolkit-startup.min.css" asp-file-version="true" />
            <link rel="stylesheet" href="~/css/site.css" asp-file-version="true" />
        </environment>
    </head>
    <body>
        
        @RenderBody()

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 m-b-md">
                    <hr />
                    &copy; 2015 - 2017
                    <a href="mailto:jpatrick.fulton@gmail.com">
                        J. Patrick Fulton
                    </a>
                </div>
            </div>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/js/toolkit.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="~/js/toolkit.min.js"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
