@{
    ViewData["Title"] = "Home";
}

<div style="background: url('images/laptop-1920x1080-bw.jpg') top center; background-size: cover;">
    <nav class="navbar navbar-transparent m-b-0">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-com">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <h4 class="text-uppercase m-y-0">jpatrickfulton.com</h4>
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-com">
                <ul class="nav nav-bordered navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="@Url.Action("Resume")">Resume</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="block block-transparent block-inverse text-right">
        <div class="container-fluid">

            <h3 class="text-muted">
                My name is Patrick and I am a recovering enterprise developer.
            </h3>

        </div>
    </div>
</div>

<div class="block block-secondary block-bordered-lg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <ul class="featured-list featured-list-bordered">
                    <li class="m-b-md">
                        <div class="featured-list-icon">
                            <span class="icon icon-attachment"></span>
                        </div>

                        <h3>Resume</h3>
                        <p>
                            Click @Html.ActionLink("here", "Resume") for a current resume, skill set listing and list of publications.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="featured-list featured-list-bordered">
                    <li>
                        <div class="featured-list-icon">
                            <span class="icon icon-github"></span>
                        </div>
                        <h3>GitHub</h3>
                        <p>
                            I maintain a small <a href="https://github.com/jpfulton">GitHub</a> account. More public repositories are coming...
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="block block-bordered block-secondary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <blockquote class="pull-quote">
                    <img class="img-circle" src="~/images/me_small.jpg">
                    @*
                    <p>
                        “They need to stop sleeping on me and get some understanding about this here game I spit!”
                    </p>
                    *@
                    <cite>Pat Fulton, Tab Formatting Advocate</cite>
                </blockquote>
            </div>
            <div class="col-sm-6">
                <blockquote class="pull-quote">
                    <img class="img-circle" src="~/images/maggie.jpg">
                    @*
                    <p>
                        “They need to stop sleeping on me and get some understanding about this here game I spit!”
                    </p>
                    *@
                    <cite>Maggie, The Code Pug</cite>
                </blockquote>
            </div>
        </div>
    </div>
</div>