@{
    ViewData["Title"] = "Home";
}

<div class="block block-fill-height text-center">
    <div class="block-xs-middle">
        <div class="container-fluid">
            <blockquote class="pull-quote">
                <p>
                    “Welcome, my name is Patrick and I am a recovering enterprise developer.”
                </p>
                <cite>J. Patrick Fulton</cite>
            </blockquote>
        </div>
    </div>
</div>
