@{
    ViewData["Title"] = "Resume";
}

<div style="background: url('/images/city-1920x1261.jpg') bottom center; background-size: cover;">
    <nav class="navbar navbar-transparent m-b-0">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-com">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <h4 class="text-uppercase m-y-0">jpatrickfulton.com</h4>
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-com">
                <ul class="nav nav-bordered navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index")">Home</a></li>
                    <li class="active"><a href="#">Resume</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="block block-secondary block-transparent block-inverse text-right">
        <div class="container-fluid">

            <h3 class="text-muted">
                Resume, Profile and Publications.
            </h3>

        </div>
    </div>
</div>

<div class="block block-secondary block-bordered">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-heading">Resume</div>
                    <div class="panel-body">
                        <div class="center-block">
                            <a href="@Url.Content("~/pdf/resume_06022016.pdf")">
                                <span class="icon icon-text-document"></span>
                                J. Patrick Fulton - Resume - 6-2-2016.pdf
                            </a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Publications</div>
                    <div class="panel-body">
                        <div id="resume-text" class="center-block">
                            <a href="@Url.Content("~/pdf/Fulton_Strickland_Final_Version_IACIS_2009.pdf")">
                                <span class="icon icon-text-document"></span>
                                Fulton Strickland IACIS 2009.pdf
                            </a>

                            <h6>A WEB DEVELOPMENT FRAMEWORK FOR TEAM-BASED PROJECT COURSES</h6>
                            <p>
                                <strong>Abstract:</strong>
                                The complexities of team-based web development
                                make it challenging for student teams to deliver
                                solutions that may be sustained over multiple
                                semesters. A web development framework based on
                                open source tools and Agile practices may be
                                combined to create a standardized development
                                environment. Use of the framework may provide
                                students with rich system development experiences
                                and deep knowledge of software design principles
                                and patterns. Interactive features may be developed
                                each semester for inclusion in an evolving web
                                application used by nonprofit organizations.

                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">

                <div class="panel panel-default">
                    <div class="panel-heading">Skill Set</div>
                    <div class="panel-body text-center">
                        
                        <dl>
                            <dt>
                                <span class="badge alert-success">C# 5</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Java</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">VB.NET</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">ASP.NET MVC 5</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">ASP.NET Core</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">ASP.NET WebForms 4.5</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">J2EE</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">jQuery</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">jQuery-UI</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Bootstrap</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">ReSharper</span>
                            </dt>
                        </dl>

                        <dl>
                            <dt>
                                <span class="badge alert-success">Visual Studio .NET 2008-2015</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Ant</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">nAnt</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">MS Build</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">NetBeans</span>
                            </dt>
                        </dl>

                        <dl>
                            <dt>
                                <span class="badge alert-success">Windows Server 2000 - 2012 R2</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Windows 2000 - 10</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Mac OS X</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">RedHat / SuSe / Ubuntu Linux</span>
                            </dt>
                        </dl>

                        <dl>
                            <dt>
                                <span class="badge alert-success">NHibernate</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Entity Framework</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">NUnit</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Rhino Mocks</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Moq</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Razor</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Spring .NET</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Ninject</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">StructureMap</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Unity</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">WCF</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Azure</span>
                            </dt>
                        </dl>

                        <dl>
                            <dt>
                                <span class="badge alert-success">Microsoft SQL Server 2000 - 2014</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">IIS</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Microsoft Team Foundation Server</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Subversion</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Git</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Apache</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">PostgreSQL</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Tomcat</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">RavenDB 2 - 3</span>
                            </dt>
                        </dl>

                        <dl>
                            <dt>
                                <span class="badge alert-success">Project Management</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Team Management</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Agile Management</span>
                            </dt>
                            <dt>
                                <span class="badge alert-success">Financial and Managerial Accounting</span>
                            </dt>
                        </dl>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>